.html {
    background-color: white;
    width: 990px;
    height: 560px;
    overflow: auto;
    transition: opacity 1s;
}

.container {
    padding: 32px
}

.title {
    font-size: 3rem;
    margin: 0;
    margin-bottom: 16px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 24px;
    text-align: left;
    font-size: 1.5rem;
}