.html {
    background-color: white;
    width: 990px;
    height: 560px;
    color: black;
    font-size: 1.25rem;
    overflow-y: auto
}

.container {
    box-sizing: border-box;
    padding: 32px;
    display: flex;
    gap: 32px;
}

.image_container {
    
}

.data_container {
    flex-grow: 2;
}

.title {
    margin: 0;
    font-size: 2.5rem;
}

.image {
    width: 200px;
}

.publication_container {
    padding: 0 32px 32px;
}

.publication {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.publication a, .button {
    display: block;
    padding: 16px;
    border: 1px solid black;
    color: black;
    text-decoration: none;
}

.publication a:hover, .button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.button {
    background-color: white;
    font-size: 1.25rem;
}

.button_container {
    display: flex;
    justify-content: space-between;
    padding: 0 32px 32px;
}