.html {
    width: 790px;
    height: 470px;
    overflow: auto;
    background-color: white;
}

.container {
    padding: 32px
}

.title {
    margin: 0;
    margin-bottom: 16px;
}

.description {
    text-align: justify;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 24px;
    text-align: left;
}

.grid_container {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
}

.button {
    padding: 16px 32px;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: white;
    color: black;
}

.button:hover {
    background-color: black;
    color: white;
}